<a href="https://colab.research.google.com/github/zanzaneamit/amitz_DL/blob/master/Subjective_Assignment_2_Python_Function_and_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignments

Q1. Write the Python function to get a string made of 4 copies of the last
two characters of the specified string (length must be at least 2).

    Sample function and result :
    insert-end ('Python') -> abababab
    insert-end('Exercises') -> jkjkjkjk

In [0]:
def insert_end(s):
  if len(s)>=2:
    return s[-2:]*4

str='Exercises'
print(insert_end(str))

eseseses

Q2. Write the python function to get a string made of its first three
characters of a specified string. If the length of the string is less than 3
then return the original string.
    
    Sample function and result :
    first-three('ipy') -> ipy
    first-three('python') -> pyt

In [0]:
def first_three(s):
  return s[:3]

str='Exercises'
print(first_three(str))

Exe

Q3. Write the Python program to find smallest window that contains all
characters of the given string?

    Original Strings:
    asdaewsqgtwwsa
    Smallest window that contains all characters of the said string:
    Daewsqgt

In [0]:
import re
def smallest_window(s):
  srch=set(s)
  l=len(s)

  matched=dict()
  for i in range(l):
    for j in range(l):
      #print(s[i:j])
      if (all(re.search(regex, s[i:j], flags=re.IGNORECASE) for regex in list(srch))):
        matched[j-i] = s[i:j]

  smallest = 0
  for k,v in matched.items():
    if smallest == 0:
      smallest = k
    else:
      if smallest > k:
        smallest = k
  return matched[smallest]

#testing
str='asdaewsqgtwwsa'
print(smallest_window(str))

daewsqgt

Q4. Write the Python program to count number of substrings from a
given string of lowercase alphabets with exactly k distinct (given)
characters?

    Input a string (lowercase alphabets): wolf
    Input k: 4
    Number of substrings with exactly 4 distinct characters: 1

In [0]:
from itertools import combinations
s=input('Input a string (lowercase alphabets):')
n=int(input('Input k:'))
comb = combinations(s,n)
comb = [i for i in comb]
print('Number of substrings with exactly %d distinct characters: %d' %(n,len(comb)))

Input a string (lowercase alphabets):wolf
Input k:4
Number of substrings with exactly 4 distinct characters: 1

Q5. Write the Python program to count number of non-empty
substrings of the given string?

    Input a string: w3resource
    Number of substrings:
    55

In [0]:
s=input('Input a string: ')
s_len = len(s)
print(s_len*(s_len + 1)/2)

Input a string: w3resource
55.0

Q6. Write the Python program to count the number of strings where the
string length is 2 or more, and first and last character are same
from a given list of strings.

    Sample List : ['abc', 'xyz', 'wxw', '1331']
    Expected Result: 2

In [0]:
s=input('Input space separated strings').split()
print('Expected Result: %d'%(len([1 for i in s if i[0] == i[-1]])))

Input space separated stringsabc xyz wxw 1331
Expected Result: 2

Q7. Write the Python program to get a list, sorted in increasing order by
the last element in each tuple from the given list of non-empty
tuples?

    Sample List - [ (2, 5), (1, 2), (4, 4), (2, 3), (2, 1) ]
    Expected Result - [ (2, 1), (1, 2), (2, 3), (4, 4), (2, 5) ]

In [9]:
l1=[ (2, 5), (1, 2), (4, 4), (2, 3), (2, 1) ]

#option 1
print(sorted(l1,key= lambda t1: t1[1]))

#option 2
for j in range(len(l1)-1):
  for i in range(len(l1)-j-1):
    if l1[i][1] > l1[i+1][1]:
      temp = l1[i+1]
      l1[i+1] = l1[i]
      l1[i] = temp

print(l1)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]
[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

Q8. Write the Python program to remove duplicates from a list?

In [11]:
l1=input('Input List separated by space').split()

print(list(set(l1)))

Input List separated by space1 2 3 4 5 6 7 8 9 8 6 5 7 4 6
['8', '4', '1', '2', '3', '5', '7', '9', '6']

Q9. Write the Python program to find the list of words that are longer
than n from a given list of words?

In [13]:
s=input('Input list').split()
n=int(input('Input value for n'))

list_out=[]
for i in s:
  if len(i) > n:
    list_out.append(i)

print(list_out)

Input lista bb ccc dddd eeeee fff gg
Input value for n2
['ccc', 'dddd', 'eeeee', 'fff']

Q10. Write the Python program to print a specified list after removing the
0th, 4th, and 5th elements?
    
    Sample List - ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
    Expected Output - ['Green', 'White', 'Black']

In [16]:
l1 = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
l1.pop(5)
l1.pop(4)
l1.pop(0)
print(l1)

['Green', 'White', 'Black']

Q11. Write the Python program to generate all permutations of a list in
Python?

In [20]:
from itertools import permutations
s=input('Input list').split()

perm = permutations(s)
print([i for i in perm])

Input lista b c d
[('a', 'b', 'c', 'd'), ('a', 'b', 'd', 'c'), ('a', 'c', 'b', 'd'), ('a', 'c', 'd', 'b'), ('a', 'd', 'b', 'c'), ('a', 'd', 'c', 'b'), ('b', 'a', 'c', 'd'), ('b', 'a', 'd', 'c'), ('b', 'c', 'a', 'd'), ('b', 'c', 'd', 'a'), ('b', 'd', 'a', 'c'), ('b', 'd', 'c', 'a'), ('c', 'a', 'b', 'd'), ('c', 'a', 'd', 'b'), ('c', 'b', 'a', 'd'), ('c', 'b', 'd', 'a'), ('c', 'd', 'a', 'b'), ('c', 'd', 'b', 'a'), ('d', 'a', 'b', 'c'), ('d', 'a', 'c', 'b'), ('d', 'b', 'a', 'c'), ('d', 'b', 'c', 'a'), ('d', 'c', 'a', 'b'), ('d', 'c', 'b', 'a')]

Q12. Write the Python program to convert a pair of values into a sorted
unique array?
 
    Original List- [ (1, 2), (3, 4), (1, 2), (5, 6), (7, 8), (1, 2), (3, 4), (3, 4), (7, 8), (9, 10) ]
    Sorted Unique Data- [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ]

In [24]:
l1 = [ (1, 2), (3, 4), (1, 2), (5, 6), (7, 8), (1, 2), (3, 4), (3, 4), (7, 8), (9, 10) ]

s1 = set()
for i in l1:
  s1.add(i[0])
  s1.add(i[1])

print(list(s1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Great job!